
h1{
	font-family: "Stencil";
	color:black;
	text-align: left
}

h2{font-family: 'Blackadder ITC' ;
	color: yellow;
	text-align: left
}
h3{
	font-family:'Lucida Console';
text-align: left;
color:black;

}