header {
	background:#FFFFFF;
	color:#fff;
}

.color0 {
	background:#FFFFFF;
  margin: auto;
  margin-bottom: 10px;

}
.color1 {
  padding: 1px;
  background: #ADE81C;
  color:#FFFFFF;
}
.color2{
background: #E5E5E5;
height: 800px;
}
.color3 {
  background:#D1D1D1;
  margin: auto;
  margin-bottom: 20px;
}
.color4 {
background: #D1D1D1;
height: 165px;

}



#margen0{
  margin-left: 5%;
}
#margen1{
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 2%;
}
#margen2{
  margin-left: 4%;
  margin-top: 0%;
  padding-top: 5%; 
  margin-right: 4%;
}
.btn-toggle {
  	height: 50px;
  	line-height: 50px;
  	font-size: 24px;
  	font-weight: bold;
  	color: #000;
  	display: block;
  	background: #FFDC00;
  	text-align: center; }

.btn-toggle:hover {
    text-decoration: none; }

footer {
	background:#16a085;
	color:#fff;
}


.item {
    position: relative;
    float: left;
}

.item h2 {
    text-align:center;
    position: absolute;
    line-height: 125px;
    width: 100%;
}

svg.grafico {
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.circle_animation0 {
  stroke-dasharray: 655; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 655;
}
.circle_animation1 {
  stroke-dasharray: 680; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 680;
}
.circle_animation2 {
  stroke-dasharray: 550; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 550;
}
.circle_animation3 {
  stroke-dasharray: 400; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 400;
}


.html .circle_animation0 {
    -webkit-animation: html 2s ease-out forwards;
    animation: html 2s ease-out forwards;
}
.html .circle_animation1 {
    -webkit-animation: html 2s ease-out forwards;
    animation: html 2s ease-out forwards;
}
.html .circle_animation2 {
    -webkit-animation: html 2s ease-out forwards;
    animation: html 2s ease-out forwards;
}
.html .circle_animation3 {
    -webkit-animation: html 2s ease-out forwards;
    animation: html 2s ease-out forwards;
}



@-webkit-keyframes html {
  to {
    stroke-dashoffset: 220; /* 50% would be 220 (half the initial value specified above) */
  }
}

@keyframes html {
  to {
    stroke-dashoffset: 220;
  }
}

div.spin {
  width: 0.6em;
  height: 1em;
  overflow: hidden;
  line-height: 1em;
  display: inline-block;
}
span {
  position: relative;
}
.animate {
  -webkit-animation: spinit 0.2s 5;
  -moz-animation: spinit 0.2s 5;
  animation: spinit 0.2s 5;
}
@-webkit-keyframes spinit {
  0% {
    top: 0em;
  }
  50% {
    top: -5em;
  }
  100% {
    top: -9em;
  }
}
@-moz-keyframes spinit {
  0% {
    top: 0em;
  }
  50% {
    top: -5em;
  }
  100% {
    top: -9em;
  }
}
@keyframes spinit {
  0% {
    top: 0em;
  }
  50% {
    top: -5em;
  }
  100% {
    top: -9em;
  }
}

/* Setting the required value to top will make the spinner end at that number */

#digit0 {
  top: 1em;
  /* -4em means 5 will be the number */
}
#digit1 {
  top: 0em;
  /* -4em means 5 will be the number */
}
#digit2 {
  top: -1em;
}
#digit3 {
  top: -2em;
}
#digit4 {
  top: -3em;
  /* -4em means 5 will be the number */
}
#digit5 {
  top: -4em;
}
#digit6 {
  top: -5em;
}
#digit7 {
  top: -6em;
  /* -4em means 5 will be the number */
}
#digit8 {
  top: -7em;
}
#digit9 {
  top: -8em;
}
